<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content min-h-[100vh] w-auto p-4 bg-base-200">
    <!-- Page content here -->
    <label
      for="my-drawer"
      class="btn btn-success btn-circle btn-dash drawer-button"
    >
      <ng-icon name="lucideMenu" class="text-xl" />
    </label>

    <div class="flex flex-col mt-16 space-y-6">
      <button
        class="btn btn-success btn-circle btn-dash"
        [routerLink]="['/dashboard']"
      >
        <ng-icon name="lucideChartNoAxesColumn" class="text-xl" />
      </button>

      <button
        class="btn btn-success btn-circle btn-dash"
        [routerLink]="['/crops']"
      >
        <ng-icon name="lucideSprout" class="text-xl" />
      </button>
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <h1 class="text-3xl text-center font-bold mt-4">Cultivo Certo</h1>
      <div class="mt-16 space-y-6">
        <button
          class="btn btn-success btn-dash w-full flex"
          routerLink="dashboard"
        >
          <ng-icon
            name="lucideChartNoAxesColumn"
            class="text-xl"
            [routerLink]="['/dashboard']"
          />
          Dashboard
        </button>
        <button
          class="btn btn-success btn-dash w-full flex"
          [routerLink]="['/crops']"
        >
          <ng-icon name="lucideSprout" class="text-xl" /> Gerenciamento do
          cultivo
        </button>
      </div>
    </div>
  </div>
</div>
